.welcome-msg {
  width: 500px;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .welcome-msg {
    width: 450px;
  }
}
@media screen and (max-width: 990px) {
  .welcome-msg {
    width: 330px;
  }
}
@media screen and (max-width: 768px) {
  .welcome-msg {
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .welcome-msg {
    width: 100%;
    margin: 0 auto;
  }
}
