.card {
  width: 320px;
  /* background-color: rgb(161, 68, 51); */
  background-color: black;
  /* border: 1px solid white; */
  text-align: start;
  padding: 2rem;
  /* border-radius: 1rem; */
  margin: 0 10px;
  box-sizing: border-box;
  margin-top: 3rem;
}
.card_icon {
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
}
.card:hover {
  background-image: linear-gradient(135deg, #7837cf 0%, rgb(161, 68, 51) 100%);
}
.card_p {
  margin: 5px 0;
}
@media screen and (max-width: 1200px) {
  .card {
    width: 280px;
  }
}
@media screen and (max-width: 990px) {
  .card {
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 520px;
    margin: 2vh auto;
  }
}
@media screen and (max-width: 576px) {
  .card {
    width: 90%;
  }
}
